body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
}


/* header */
header {
  font-size: 34px;
  color: #000000;
  display: flex;
  max-width: 960px;
  margin: 0;
  justify-content: space-between;
}

.MyProfile {
  border: solid black;
  color: #000000;
}

nav .about-works {
  display: flex;
  list-style: none;
}


/* about */
.about-contents {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

.content {
  margin: 0 auto;
  padding: 0 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

#about {
  font-size: 34px;
  text-align: center;
}

.photo {
  border-radius: 140px 140px 140px 140px;
}


/* works */
#works {
  font-size: 34px;
  text-align: center;
}

.works-flex {
  display: flex;
  justify-content: space-around;
}



/* footer */
footer {
  font-size: 18px;
  text-align: center;
}